[flake8]
#? E203 whitespace before ':'
# E501 Line too long (82 &gt; 79 characters)
#? W503 line break before binary operator
# D100 Missing docstring in public module
# D101 Missing docstring in public class
# D102 Missing docstring in public method
# D103 Missing docstring in public function
# D104 Missing docstring in public package
# D105 Missing docstring in magic method
# D106 Missing docstring in public nested class
# D107 Missing docstring in __init__
# C901 ... is too complex
# Q000 Remove bad quotes
# Q001 Remove bad quotes from multiline string
# Q002 Remove bad quotes from docstring
# Q003 Change outer quotes to avoid escaping inner quotes
# flake8-string-format:
# P101 format string does contain unindexed parameters
# P103 other string does contain unindexed parameters
# flake8-django:
# DJ01 Avoid using null=True on string-based fields such as CharField and TextField
# Temporary rules:
#? F403 'from module import *' used; unable to detect undefined names
#? F405 Name may be undefined, or defined from star imports: module

extend-ignore = E501,D100,D101,D102,D103,D104,D105,D106,D107,C901,P101,P103,DJ01
max-line-length = 88
max-complexity = 10
statistics = True
count = True

# flake8-quotes settings
inline-quotes = "
multiline-quotes = """
docstring-quotes = """
avoid-escape = True

exclude =
    */migrations/*,
    manage.py,
    project/asgi.py,
    project/wsgi.py,
